body {
  background-color: black;
  text-align: center;
  font-family: verdana;
  color: white;
}

.header {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.travel-guide, .coming-soon {
Font-weight: 300;
font-size: 42;
color: white
}

#excursion-link {
  color: Aquamarine;
  font-size: 16px;
}

#travel-guide {
  font-size: 21px;
  color: gray
}

#copyright{
  text-align: right;
  color: gray;
}
